<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"/>

<body>

<div th:replace="fragments/header :: navigation"/>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">

      <!-- If flight list is empty -->
      <h1 class="mt-5 mb-5" th:if="${flightList.empty}">Sorry. Couldn't find any flight.
        <br>Please add a new one or contact with Administrator.</h1>

      <!-- Else -->
      <h1 class="mt-5 mb-5" th:unless="${flightList.empty}">List of flights</h1>
    </div>

    <th:block th:unless="${message.empty}">
      <div class="col-md-5 ml-auto mr-auto alert alert-dismissible alert-success mb-5">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span th:text="${message}"></span>
      </div>
    </th:block>

    <table class="table table-hover" th:unless="${flightList.empty}">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Ticket price</th>
        <th scope="col">Number of seats</th>
        <th scope="col">Tourists</th>
        <th scope="col" style="width: 180px">Action</th>
      </tr>
      </thead>
      <tbody>

      <th:block th:each="flight : ${flightList}">

        <tr>
          <th scope="row" th:text="${flight.id}">Flight ID</th>
          <td th:text="${#temporals.format(flight.departure, 'yyyy-MM-dd HH:mm')}">Departure</td>
          <td th:text="${#temporals.format(flight.arrival, 'yyyy-MM-dd HH:mm')}">Arrival</td>
          <td th:text="${flight.ticketPrice}">Ticket price</td>
          <td th:text="${flight.numberOfSeats}">Number of seats</td>
          <td><span th:text="'Number: ' + ${flight.tourists.size()}"></span>&nbsp;
            <a th:href="@{'/flight/'+ ${flight.id}}+'/tourist'"
               class="btn btn-secondary btn-sm"> Edit List </a>
          </td>
          <td>
            <a th:href="@{'/flight/update'(id=${flight.id})}"
               class="btn btn-success btn-sm"> Amend </a>
            |
            <a th:href="@{'/flight/'+${flight.id}+'/delete'}"
               th:onclick="'return confirm(\'Are you sure you want to delete this flight?\');'"
               class="btn btn-danger btn-sm"> Delete </a>
          </td>
        </tr>

      </th:block>

      </tbody>
    </table>

    <div class="col-lg-4 ml-auto mr-auto mt-4">
      <a th:href="@{'/flight/add'}"
         class="btn btn-primary btn-lg btn-block">Add a new flight</a>
    </div>

  </div>
</div>


<div th:replace="fragments/footer :: scripts"/>

</body>
</html>
